@model HolidayApp.Core.Model.Holiday

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Holiday</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Starting Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <input type="text" name="StartDate" id="StartDate" />               
                
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <input type="text" name="EndDate" id="EndDate" />

                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Total Number Of Days", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfDays)
                <div class="halfday">
                    @Html.CheckBox("ishalf")
                    @Html.Label("Any HalfDay") 
                    <span id="amorpm">
                        @Html.Label("AM")
                        @Html.RadioButtonFor(model => model.HalfDay, "Morning", new { @class = "morning" })
                        @Html.Label("PM")
                        @Html.RadioButtonFor(model => model.HalfDay, "Evening")
                     </span>                              
                </div>

                @Html.ValidationMessageFor(model => model.NoOfDays)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Holiday Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Holidaytype, ViewBag.HolidayTypes as SelectList, "--Select Holiday Type--")
                @Html.ValidationMessageFor(model => model.Holidaytype)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Holiday Description : ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HolidayDescription)
                @Html.ValidationMessageFor(model => model.HolidayDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js")
    @Scripts.Render("~/Scripts/customjs.js")
}

@*Code to wire up your DatePicker*@ 


   <script>
    	    $(function () {
    	        $(".datepicker").datepicker({ dateFormat: "dd/mm/yy" });
    	    });
    </script>

  
