@model HolidayApp.Core.Model.Holiday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Holiday</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Starting Date : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("End Date : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayName("No Of Days : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        
        <dt>
            @Html.DisplayName("Status : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
     @Html.ActionLink("Back to List", "Index")
</p>
