@model IEnumerable<HolidayApp.Core.Model.Holiday>

@{
    ViewBag.Title = "Index";
}

<h2>My Holiday List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{if(ViewBag.Message != null) {
        <h1> @ViewBag.Message </h1> }
  else { 
    
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayName("Starting Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        
        <th>
            @Html.DisplayName("No Of Days")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @if (item.Status==null)
            {
                <p>Pending</p>

            }
            else if (item.Status == "Approved")
            {
                <span class="glyphicon glyphicon-ok" title="Approved" data-toggle="tooltip"></span>
                @*@Html.DisplayFor(modelItem => item.Status)*@
            }
            else
            {
                <span class="glyphicon glyphicon-remove" title="Rejected" data-toggle="tooltip"></span>
            }
        </td>
        <td>
            @{
                if(item.Status==null)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.HolidayId }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.HolidayId }, new { @class = "btn btn-danger" })    
                }
   
                                         
            }
            @Html.ActionLink("Details", "Details", new { id = item.HolidayId }, new { @class = "btn btn-info" })
            
        </td>
    </tr>
}

</table>
}}



