@model IEnumerable<HolidayApp.Core.Model.Holiday>

@{
    ViewBag.Title = "Index";
}

<h2>My Holiday List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{if(ViewBag.Message != null) {
        <h1> @ViewBag.Message </h1> }
  else { 
    
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @if (item.Status==null)
            {
                <p>Pending</p>
                    
            }else
            { 
                @Html.DisplayFor(modelItem => item.Status)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HolidayId }) |
            @Html.ActionLink("Details", "Details", new { id = item.HolidayId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.HolidayId })
        </td>
    </tr>
}

</table>
}}