@model IEnumerable<HolidayApp.Core.Model.GeneralHoliday>
@using HolidayApp.Core.Helpers;
@{
    ViewBag.Title = "Index";
}

<h2>General Holiday List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
            @if (item.Type == "islamic-public-holiday")
            {
                @Html.Raw(string.Format("{0:[dd/MM/yyyy]}", Helpers.IslamicToGeorgian(item.StartDate)))}
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
            @if (item.Type == "islamic-public-holiday")
            {
                @Html.Raw(string.Format("{0:[dd/MM/yyyy]}", Helpers.IslamicToGeorgian(item.EndDate)))}

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GeneralHolidayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GeneralHolidayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GeneralHolidayId })
        </td>
    </tr>
}

</table>
