@model HolidayApp.Core.Model.EmployeeQuota

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeQuota</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaidQuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidQuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonPaidQuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonPaidQuota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeQuotaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
