@model IEnumerable<HolidayApp.Core.Model.EmployeeQuota>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaidQuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonPaidQuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaidQuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonPaidQuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeQuotaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeQuotaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeQuotaId })
        </td>
    </tr>
}

</table>
<h4>Total Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        80%
    </div>
</div>
<h4>Paid Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        40%
    </div>
</div>
<h4>Non-Paid Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        50%
    </div>
</div>