@model HolidayApp.Core.Model.EmployeeQuota
@using HolidayApp.Core.Helpers
@{
    ViewBag.Title = "My Holiday Quota";
}
@section calendar {
    <script src="~/Scripts/Chart.js"></script>
}

<h2>@ViewBag.Message</h2>
<div>
    @{
    var FirstDay = new DateTime(DateTime.Now.Year, 1, 1);
    var LastDay = new DateTime(DateTime.Now.Year, 12, 31);
    <h4>Current Holiday Period From @FirstDay.ToString("dd/MM/yyyy") to @LastDay.ToString("dd/MM/yyyy")</h4>

}
<hr />
<dl class="dl-horizontal">
    <dt>
        Total Entilement
    </dt>

    <dd>
        @ViewBag.Entitlement
    </dd>

    <dt>
        Holidays Taken
    </dt>

    <dd>
        @ViewBag.HolidaysTaken
    </dd>

    <dt>
        Booked this Year
    </dt>

    <dd>
        @ViewBag.BookedThisYear
    </dd>

    <dt>
        Left to book this year
    </dt>

    <dd>
        @ViewBag.Remaining
    </dd>

</dl>
</div>


<h4>Total Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@Html.Raw(ViewBag.Remaining)" aria-valuemin="0" aria-valuemax="@Html.Raw(ViewBag.Entitlement)" style="width: 80%;">
       
        
    </div>
</div>

<div id="canvas-holder">
    <canvas id="chart-area" width="300" height="300" />
</div>
<script>

    var pieData = [

        @foreach (var grp in Helpers.HolidayTypesTaken(ViewBag.Username))
    {
           
            
            @Html.Raw("{value: " + grp.Value + ", color: '" + Helpers.GetHolidayTypeColor(grp.Key) + "',highlight: '"+Helpers.GetHolidayTypeColor(grp.Key)+"',label: '" + grp.Key + "'},")
    }
        
            

    ];

    window.onload = function () {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx).Pie(pieData);
    };



</script>
