@model HolidayApp.Core.Model.EmployeeQuota

@{
    ViewBag.Title = "My Holiday Quota";
}
@section calendar {
    <script src="~/Scripts/Chart.js"></script>
}

<h2>@ViewBag.Message</h2>
<div>@{
    var FirstDay = new DateTime(DateTime.Now.Year, 1, 1);
var LastDay = new DateTime(DateTime.Now.Year, 12, 31);
<h4>Current Holiday Period From @FirstDay.ToString("dd/MM/yyyy") to @LastDay.ToString("dd/MM/yyyy")</h4>
  
}
      <hr />
    <dl class="dl-horizontal">
        <dt>
           Total Entilement
        </dt>

        <dd>
            <value>
        </dd>

        <dt>
            Holidays Taken
        </dt>

        <dd>
            <value>
        </dd>

        <dt>
            Booked this Year
        </dt>

        <dd>
            <value>
        </dd>

        <dt>
            Left to book this year
        </dt>

        <dd>
            <value>
        </dd>

    </dl>
</div>
<div>
    <h4>EmployeeQuota</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaidQuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidQuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonPaidQuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonPaidQuota)
        </dd>

    </dl>
</div>

<h4>Total Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        80%
    </div>
</div>
<h4>Paid Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        40%
    </div>
</div>
<h4>Non-Paid Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        50%
    </div>
</div>
<div id="canvas-holder">
    <canvas id="chart-area" width="300" height="300" />
</div>
<script>

    var pieData = [
            {
                value: 50,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "sickness"
            },
            {
                value: 300,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "travel"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "non-paid"
            },
            {
                value: 40,
                color: "#949FB1",
                highlight: "#A8B3C5",
                label: "paid"
            }

    ];

    window.onload = function () {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx).Pie(pieData);
    };



</script>
