@model HolidayApp.Core.Model.EmployeeQuota

@{
    ViewBag.Title = "My Holiday Quota";
}
@section calendar {
    <script src="~/Scripts/Chart.js"></script>
}

<h2>@ViewBag.Message</h2>
<div>
    @{
    var FirstDay = new DateTime(DateTime.Now.Year, 1, 1);
    var LastDay = new DateTime(DateTime.Now.Year, 12, 31);
    <h4>Current Holiday Period From @FirstDay.ToString("dd/MM/yyyy") to @LastDay.ToString("dd/MM/yyyy")</h4>

}
<hr />
<dl class="dl-horizontal">
    <dt>
        Total Entilement
    </dt>

    <dd>
        @ViewBag.Entitlement
    </dd>

    <dt>
        Holidays Taken
    </dt>

    <dd>
        @ViewBag.HolidaysTaken
    </dd>

    <dt>
        Booked this Year
    </dt>

    <dd>
        @ViewBag.BookedThisYear
    </dd>

    <dt>
        Left to book this year
    </dt>

    <dd>
        @ViewBag.Remaining
    </dd>

</dl>
</div>


<h4>Total Holidays Taken:</h4>
<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@Html.Raw(ViewBag.Remaining)" aria-valuemin="0" aria-valuemax="@Html.Raw(ViewBag.Entitlement)" style="width: 80%;">
        @{
            float res = ViewBag.BookedThisYear / ViewBag.Entitlement;
             @Html.Raw(res)
        }
         
        
    </div>
</div>

<div id="canvas-holder">
    <canvas id="chart-area" width="300" height="300" />
</div>
<script>

    var pieData = [
            {
                value: 50,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "sickness"
            },
            {
                value: 300,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "travel"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "non-paid"
            },
            {
                value: 40,
                color: "#949FB1",
                highlight: "#A8B3C5",
                label: "paid"
            }

    ];

    window.onload = function () {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx).Pie(pieData);
    };



</script>
