@model IEnumerable<HolidayApp.Core.Model.EmployeeQuota>
@using SalesFirst.Core.Service;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidQuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonPaidQuota)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                 
    EmployeeService employeeService = new EmployeeService(new SalesFirst.Core.Data.EmployeeRepository(new HolidayApp.Core.Data.HolidayAppDb()));
    SalesFirst.Core.Model.Employee employee = employeeService.GetEmployeeByEmployeeId(item.EmployeeId);
    @Html.Raw(employee.Username)  
            }
          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidQuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonPaidQuota)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeQuotaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeQuotaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeQuotaId })
        </td>
    </tr>
}

</table>