@model HolidayApp.Core.Model.Holiday

@{
    ViewBag.Title = "Create Holiday";
}

<h3>Create Holiday Form An Employee</h3>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
        <li>@Html.ActionLink("Approved Requests", "Requests", "Admin")</li>
        <li>@Html.ActionLink("Rejected Requests", "RejectedRequests", "Admin")</li>
    </ul>

</div>


<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Select Employee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeNames")
               
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Starting Date : ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="StartDate" id="StartDate" />  
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Date : ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="EndDate" id="EndDate" />
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("No Of Days", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfDays)
                <div class="halfday">
                    @Html.CheckBox("ishalf")
                    @Html.Label("Any HalfDay")
                    <span id="amorpm">
                        @Html.Label("AM")
                        @Html.RadioButtonFor(model => model.HalfDay, "Morning")
                        @Html.Label("PM")
                        @Html.RadioButtonFor(model => model.HalfDay, "Evening")
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.NoOfDays)
            </div>
        </div>

           

        <div class="form-group">
            @Html.Label("Holiday Type : ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("HolidayType")
                @Html.ValidationMessageFor(model => model.Holidaytype)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Holiday Description : ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HolidayDescription)
                @Html.ValidationMessageFor(model => model.HolidayDescription)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js")
    @Scripts.Render("~/Scripts/customjs.js")
}

@*Code to wire up your DatePicker*@


<script>
    $(function () {
        $(".datepicker").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>
